* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.body {
    background-color: #FBFCFD;

}

.rating {
    background-color: #F3F9FF;
    width: 135px;
    height: 118px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewbtn {
    margin-right: 10vw;
    margin-top: 100px;
}
